[submodule "picofuzz-stf-data"]
	path = picofuzz-stf-data
	url = https://github.com/FluffyLabs/picofuzz-data.git
[submodule "picofuzz-conformance-data"]
	path = picofuzz-conformance-data
	url = https://github.com/FluffyLabs/picofuzz-conformance-data
